{% style %}
  div.subcategory-collection {
  text-align: center;
  padding:20px 20px;
}
  a img {
    transition: transform 0.3s;
  }

  a:hover img {
    transform: scale(1.1);
  }
   .no-underline {
    text-decoration: none;
  }
  {{ 'Subcatregory-collection.css' | asset_url | stylesheet_tag }}
{% endstyle %}


<div class="subcategory-collection-section" style="display: flex;justify-content: center;">
{% for block in section.blocks %}
  {% if block.type == 'Subcategory-block' %}
    {% assign parent_collection_handle = block.settings.subcategory-image %}
    {% assign parent_collection = collections[parent_collection_handle] %}
    {% if parent_collection %}
      <div class="subcategory-collection">
         <a href="{{ block.settings.image_link }}" class="no-underline"> <img src="{{ block.settings.subcategory-image | img_url: '50x50' }}" alt="{{ subcollection.title }}"style="border-radius: 50%; border: 4px solid #eee; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); ></a>  
          <a href="{{ block.settings.image_link }}"><h3>{{ block.settings.subcategory-title }}</h3></a>
       
        <ul class="subcategory-list">
          {% for subcollection in parent_collection.collections %}
            {% assign subcollection_image = subcollection.image %}
            {% if subcollection_image %}
              <li class="subcategory-item">
                <a href="{{ subcollection.url }}">
                  <img src="{{ subcollection_image | img_url: '500x500' }}" alt="{{ subcollection.title }}" width="200" height="200"defer>
                <span>{{ subcollection.title }}</span>
                
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
 
</div>






{% schema %}
  {
    "name": "Subcategor home",
    "blocks":[
      {
        "type":"Subcategory-block",
      "name":"Subcategory Item",
        "settings": [
       {
      "type": "image_picker",
      "label": "Parent Collection",
      "id": "subcategory-image",
      "info": "Select the parent collection to display subcategories from."
    },
          {
             "type": "url",
      "label": "image link",
      "id": "image_link",
    
      "info": "Enter the link for the subcategory collections block."
          },
          
    {
      "type": "text",
      "label": "Block Title",
      "id": "subcategory-title",
     
      "info": "Enter the title for the subcategory collections block."
    }
    ]
      }
    ]
    ,
    "presets":[
      {
        "name":"Subcategory Collection home"
      }
    ]
  }
{% endschema %}

